--DROP   TABLE ${sysId}.${tableName};
--COMMIT;
CREATE TABLE ${sysId}.${tableName}
 (
#foreach( $field in $fieldList )
#if($field.MyIsKey=='y')
key ${field.MyName.toUpperCase()}_${tablePostfix} INT NOT NULL GENERATED ALWAYS AS IDENTITY #if (!$foreach.last),
#end
#else
${field.MyName.toUpperCase()}_${tablePostfix} ${field.MyDataType} (${field.MyFieldWidth})  WITH DEFAULT '' #if (!$foreach.last),
#end
#end
#end
 
 MSM00UID_MSM00      INT NOT NULL GENERATED ALWAYS AS IDENTITY   ,
          COMPID_MSM00 VARCHAR (4) WITH DEFAULT '',
          VENDORNO_MSM00 VARCHAR (10) WITH DEFAULT '',
          COUNTRYID_MSM00 VARCHAR (10) WITH DEFAULT '',
          CVENDORNAME_MSM00 VARCHAR (100) WITH DEFAULT '',
          EVENDORNAME_MSM00 VARCHAR (100) WITH DEFAULT '',
          ABBREVNAME_MSM00 VARCHAR (50) WITH DEFAULT '',
          CAPITAL_MSM00 DECIMAL (13,0)  WITH DEFAULT 0 ,
          CAPITALCRCY_MSM00 VARCHAR (5) WITH DEFAULT '',
          OWNER_MSM00 VARCHAR (50) WITH DEFAULT '',
          OLDVENDORNO_MSM00 VARCHAR (10) WITH DEFAULT '',
          NEWVENDORNO_MSM00 VARCHAR (10) WITH DEFAULT '',
          INVOICETYPE_MSM00 VARCHAR (2) WITH DEFAULT '',
          RESPDEPT_MSM00 VARCHAR (6) WITH DEFAULT '',
          REJUPDDATE_MSM00 CHAR (8) WITH DEFAULT '',
          REJCODE_MSM00 VARCHAR (2) WITH DEFAULT '',
          REJSTARTDATE_MSM00 CHAR (8) WITH DEFAULT '',
          REJENDDATE_MSM00 CHAR (8) WITH DEFAULT '',
          REJREASON_MSM00 VARCHAR (500) WITH DEFAULT '',
          REJPONO_MSM00 VARCHAR (20) WITH DEFAULT '',
          REQDATE_MSM00 CHAR (8) WITH DEFAULT '',
          REQTIMES_MSM00 INT  WITH DEFAULT 0 ,
          PODATE_MSM00 CHAR (8) WITH DEFAULT '',
          POTIMES_MSM00 INT  WITH DEFAULT 0 ,
          ATTACHMENT_MSM00 VARCHAR (20) WITH DEFAULT '',
          STATUS_MSM00 VARCHAR (2) WITH DEFAULT '',
          ISISSUE_MSM00 VARCHAR (1) WITH DEFAULT '',
          ISQUOTE_MSM00 VARCHAR (1) WITH DEFAULT '',
          ISPO_MSM00 VARCHAR (1) WITH DEFAULT '',
          DATATYPE_MSM00 VARCHAR (2) WITH DEFAULT '',
          MAILID_MSM00 VARCHAR (10) WITH DEFAULT '',
          CREATEMAILDATE_MSM00 CHAR (8) WITH DEFAULT '',
          CONFIRMMAILDATE_MSM00 CHAR (8) WITH DEFAULT '',
          CREATEDATE_MSM00 CHAR (8) WITH DEFAULT '',
          CREATETIME_MSM00 CHAR (6) WITH DEFAULT '',
          CREATEEMPLCOMP_MSM00 VARCHAR (4) WITH DEFAULT '',
          CREATEEMPL_MSM00 VARCHAR (10) WITH DEFAULT '',
          UPDATEDATE_MSM00 CHAR (8) WITH DEFAULT '',
          UPDATETIME_MSM00 CHAR (6) WITH DEFAULT '',
          UPDATEEMPLCOMP_MSM00 VARCHAR (4) WITH DEFAULT '',
          UPDATEEMPL_MSM00 VARCHAR (10) WITH DEFAULT ''
      )
     IN DB${sysId}MF.${tableName};